@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');/*'Quicksand'*/
@font-face { font-family: 'scm'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'scr'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); font-weight: normal; font-style: normal; }


* { margin:0; padding:0; }
a { text-decoration:none; }
img { vertical-align:top; }
li { list-style:none; }


.wrap {  width:1572px; margin:0 auto; position:relative;  }

body { font:12px 'Quicksand'; color:#353535; }
ul:after, .wrap:after { content:""; clear:both; display:block; }
h2 { position:absolute; left:-9999px; width:0; height:0; line-height:0; overflow:hidden; } 

header { background:#fff; position:fixed; z-index:999; width:100%; height:80px; border-bottom:1px solid #ddd; padding:10px 0 0; }
header .wrap { height:80px;   }
header h1 { font-size:40px; line-height:80px;  }
header a { color:#353535; }
header #gnb > li, header #tnb > li { float:left; }
header #gnb { position:absolute; bottom:6px; left:250px; }
header #gnb > li { margin-right:70px; font-size:20px; line-height:60px; height:60px;  }
header #gnb li:last-child { margin-right:0; }
header #gnb li a:link, header #gnb li a:visited { }
header #gnb li a:hover, header #gnb li a:active, header #gnb li a:focus {color:#859860; border-bottom:2px solid #859860;  }
header #tnb { position:absolute; top:0; right:10px; }
header #tnb li { margin-right:60px; font-size:16px;   }
header #tnb li:last-child { margin-right:0; }
header p { position:absolute; top:0; right:400px; font:12px "scr"; padding:3px 0; }
header p span { font:13px "scm"; }
header #sh { height:40px; width:380px; border-bottom:1px solid #ddd; background:#fff; position:absolute; right:0; bottom:10px;}
header #sh input { font:13px "scr"; width: 305px; padding:10px; border:0px; outline:none; float:left; color:#353535;  }
header #sh button {  width:40px; height:100%; border:0px; outline:none; float:left; color:#e6edd9;  }
header #sh button img { height:100%; }
/*한번 해보는 gnb내려오는거 pc용*/
header #gnb > li {  position:relative; }
header #gnb > li ul { display:none; position:absolute; background:#fff; padding-left:20px; left:-20px; width:200px; transition:800ms ease all;  }
header #gnb > li ul li { font-size:14px; }
header #gnb > li:hover > ul { display:block; transition:800ms ease all; } 
/**/

/*한번 또해보는 모바일용*/
#blank1 { height:90px; }

footer { margin-top:100px; color:#999; }
footer a { color:#999; }
footer div { border-top:1px solid #ddd; border-bottom:1px solid #353535; }
footer div ul li { float:left; margin-right:40px; height:40px; line-height:40px; font-weight:bold; }
footer div ul li a { color:#353535; }
footer address ul { padding:40px 0 80px; font-style:normal; }
footer address .big { font-size:40px; font-weight:bold; position:relative; bottom:10px; }
footer .wrap ul li { float:left; margin-right:20px; width:500px;}

section:after { content:""; clear:both; display:block; }


#main { position:relative; background:url(../img/main.jpg) no-repeat center/cover; height:800px; color:#fff;  }
#main  #main_txet { font-size:100px; position:absolute; width:900px;  right:0; top:50%; }
#main  #main_txet  p { font:26px/1.8 "scr"; width:100%; background:rgba(48,32,19,0.7); padding:50px 0 50px 20px;  box-sizing:border-box; }

#cont1 .wrap > div { float:left; width:50%; height:370px; position:relative; }
#cont1 .wrap > div dl  { width:50%; margin:0 auto; padding:70px 0 0; }
#cont1 .wrap > div dl dt { font-size:26px;  font-weight:bold; margin-bottom:30px;  }
#cont1 .wrap > div dl dd { width:100%; font:16px/1.8 "scr";  height:100px; }
#cont1 #intro_1 { background:url(../img/sub1_1.jpg) no-repeat right bottom; }
#cont1 #intro_2 { background:url(../img/sub1_2.jpg) no-repeat left bottom; }
#cont1 .wrap div a { color:#353535; font-weight:bold; font-size:16px; padding:2px 10px; border:1px solid #353535; }

#cont2 { background:#eee; height:600px;  }
#cont2 .wrap > ul { float:left; width:50%; height:370px;  padding:110px 0; position:relative; }

#cont2 #notice li h3 { font:40px 'Quicksand'; padding-bottom:10px;  margin-bottom:20px; border-bottom:1px solid #ccc;width:700px;  }
#cont2 #notice li a { font-size:20px; color:#353535; padding:10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;px 0; display:block;  width:500px;  }
#cont2 #notice > a { position:absolute; right:90px; top:130px; }
#cont2 #notice > a img { width:70%; }

#cont2 #info > li { float:left; width: calc(50% - 10px); height:180px; margin:0 20px 20px 0; box-sizing:border-box; background:#fff; position:relative;  }
#cont2 #info li:nth-child(2n) { margin-right:0; }
#cont2 #info li:nth-child(4) { background:#513c2b; }
#cont2 #info li a { display:block; height:100%; }
#cont2 #info li > a  img { margin:35px 35px; }
#cont2 #info dl { position:absolute; left:180px; top:0; font:20px "scm"; color:#353535;  padding-top:40px; }
#cont2 #info dd { font:14px/1.6 "scr"; margin-top:15px; }
#cont2 #info li #sns li { float:left; width:calc( 100% / 3 ) ;  display:flex;  text-align:center;  align-items:center; justify-content:center; height:100%;  padding-top:15px ;}
#cont2 #info li #sns li img { width:65%; margin:0;  }
#cont2 #info li #sns p { width:100%; text-align:center; font:24px 'Quicksand'; color:#fff; padding-top:40px; font-weight:bold; }

#cafe { background:#859860; width:100%; }
#cafe #back { padding-top:10px; color:#fff; font:20px "Quicksand"; margin-left:0;}
#cafe #back h3 { font-size:40px; }
#cafe #back dt { font-size:140px; font-weight:bold;  margin-bottom:0; }
#cafe .wrap > div { float:left; width: calc(( 100% / 3 ) - 10px ) ;margin:60px 0 60px 15px; }
#cafe #back dl #d2 {  height:10px; border-bottom:3px solid #fff;  }
#cafe #back dl #d3 { padding-top:20px; line-height:1.8;  }
#cafe #back dl dd span { background:#fff; height:10px; width:100px; display:block;}
#cafe #back3 dt , #cafe #back2 dt { font:30px "scm"; } 
#cafe #back3 dd , #cafe #back2 dd { font:18px/1.8 "scr"; margin-top:20px;height:120px;  } 
#cafe #back2 { background:url(../img/sub3_1.jpg) no-repeat center/cover ; height:380px; color:#fff;  position:relative; }
#cafe #back2 dl, #cafe #back3 dl { position:absolute; left:10%; top:10%; }
#cafe #back2 a { color:#fff; }
#cafe #back3 { background:url(../img/sub3_2.jpg) no-repeat center/cover; height:380px;  position:relative; }
#cafe #back3 a { color:#353535; }

#shop { text-align:center; margin:20px 0; }
#shop h3 { font-size:70px; padding:60px 0; }
#shop a { color:#fff; } 
#shop .sell { float:left; margin-left:20px; width:calc((100% / 2) - 20px ); }
#shop #new { margin-left:0; /**/ background:url(../img/sub4_1.jpg) no-repeat right center/cover;  height:590px;  display:flex; align-items:center; justify-content:center; }
#shop #new #innew { background: rgba(0,0,0,0.5); width:80%; height:80%; margin:0 auto; display:flex; 
align-items:center; justify-content:center;  }
#shop #new a { margin:0 auto; padding:70px; border:8px solid rgba(255,255,255,0.5); }
#shop #new a:link, #shop #new a:visited {}
#shop #new a:hover, #shop #new a:active, #shop #new a:focus {  border:8px solid #fff;   -webkit-transition:width 1s, height 1s, color 1s, border-color 1s,-webkit-transform 2s; }
#shop #new a dl dt { font-size:80px; ; font-weight:bold; }
#shop #new a dl dd { font:20px "scr" ; }
#shop #new a dl dd ul li:nth-of-type(2n+1) {  font:40px 'Quicksand'; }
#shop #new a dl dd ul li:nth-of-type(2n) { font:16px "scr" ;  }

#shop #item .beans { float:left;  width:calc(( 100% / 2 ) - 10px ); margin:0 20px 20px 0; height:285px; }
#shop #item .beans:nth-of-type(2n) {  margin-right: 0;  }
#shop #item .beans:nth-of-type(1) { background:url(../img/sub4_2.jpg) no-repeat center/cover; }
#shop #item .beans:nth-of-type(2) { background:url(../img/sub4_3.jpg) no-repeat center/cover; }
#shop #item .beans:nth-of-type(3) { background:url(../img/sub4_4.jpg) no-repeat center/cover; margin-bottom: 0; }
#shop #item .beans:nth-of-type(4) { background:url(../img/sub4_5.jpg) no-repeat center/cover;  margin-bottom: 0; }
#shop #item .beans a { width:100%; height:100%; margin:0 auto; display:flex; 
align-items:center; justify-content:center;  flex-direction:column; }

#shop #item .beans a:link, #shop #item .beans a:visited { background:rgba(0,0,0,0.5); }
#shop #item .beans a:hover, #shop #item .beans a:active, #shop #item .beans a:focus { background:none; transition:width 1s, height 1s, background-color 1s, transform 1s; }

#shop #item dl dt { font-size:40px; ; font-weight:bold; margin-bottom:20px; }
#shop #item dl dd { font:16px "scr" ; }


#menu_about { color:#555; }
#menu_about h3 { padding:60px 0; text-align:center; font:40px "scm" ; }

#menu_about #about_menu { float:left; padding:60px 70px;  width:20%; display:inline-block; position:relative;  }
#menu_about #about_menu .saw { border-left:8px solid #859860; color:#859860; }
#menu_about #about_menu ul li a { display:block; font-size:20px; height:60px; line-height:60px; text-align:center; color:#353535;border-left:8px solid #fff;  }
#menu_about #Philosophy { padding:80px 0; float:left; display:inline-block; width:70%; text-align:center;  }
#menu_about #Philosophy figure { padding: 0 50px; }
#menu_about #Philosophy img { width:60%; } 
#menu_about #Philosophy figcaption h3 { padding:80px 0 40px 0; font:28px "scm";}
#menu_about #Philosophy figcaption p { padding:30px 0; font:14px "scr";}


#menu_about #notice_in { float:left; width:70%; padding:20px 0; }
#menu_about #notice_in #table #li { width:160px; }
#menu_about #notice_in #table .nli {  font:13px "scr"; width: 305px; height:50px; padding:10px; border:0px; outline:none; color:#353535; border:1px solid #333; box-sizing:border-box;  }
#menu_about #notice_in button { height:50px; width:140px; border:1px solid #859860;  outline:none; color:#fff; background:#859860; position:relative; top:1px;  }
#menu_about #notice_in #table { text-align:right; width:100%; }

#menu_about #notice_in #table_med { width:100%; padding:30px 0;}
#menu_about #notice_in #table_med tr th { font:20px "scm"; font-weight:bold; height: 40px; line-height:38px;/**/border-bottom:2px solid #ccc;border-top:2px solid #ccc; }
#menu_about #notice_in #table_med tr th:nth-child(1) { width:15%; }
#menu_about #notice_in #table_med tr th:nth-child(2) { width:65%; }
#menu_about #notice_in #table_med tr th:nth-child(3) { width:19%;  }
#menu_about #notice_in #table_med tr td { font:14px "scr"; height: 40px; line-height:38px; border-bottom:1px solid #ddd;}
#menu_about #notice_in #table_med tr:last-child > td { border-bottom:2px solid #ccc;  }
#menu_about #notice_in #table_med tr .ca { border-radius:20px; background:#859860; color:#fff; padding:3px 10px;}
#menu_about #notice_in #table_med tr .st { border-radius:20px; background:#FF6699; color:#fff; padding:3px 10px;}
#menu_about #notice_in #table_med tr .na { border-radius:20px; background:#93C; color:#fff; padding:3px 10px;}

#menu_about #notice_in #table_med tr td:nth-child(1) { width:15%; text-align:center;}
#menu_about #notice_in #table_med tr td:nth-child(2) { width:65%; }
#menu_about #notice_in #table_med tr td:nth-child(3) { width:19%; text-align:center; }
#menu_about #notice_in #table_med tr td:nth-child(2) a { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display:block;  padding-left:5px;  }
#menu_about #notice_in #notice_page {  text-align:center; }
#menu_about #notice_in #notice_page span a {width:30px; height:30px; border-radius:5px; border:1px solid #ddd; display:inline-block; line-height:28px; font-weight:bold; color:#353535; }
#menu_about #notice_in #notice_page span .ns { background:#ccc; color:#fff;}


#menu_media #box { float:left; padding:60px 70px;  width:20%; display:inline-block; position:relative;  }
#menu_media #box .saw.select { border-left:8px solid #859860; color:#859860; }
#menu_media #box li a { display:block; font-size:20px; height:60px; line-height:60px; text-align:center; color:#353535;border-left:8px solid #fff;  }

#menu_wholes #wholes_menu { float:left; padding:60px 70px;  width:20%; display:inline-block; position:relative; }
#menu_wholes #wholes_menu .saw { border-left:8px solid #859860; color:#859860; }
#menu_wholes #wholes_menu li a { display:block; font-size:20px; height:100%
; line-height:60px; text-align:center; color:#353535;border-left:8px solid #fff;  }

#menu_wholes #wm01 { float:left; padding:40px 0; }
#menu_wholes #wm01 #tou { overflow-y:scroll; height:300px; border:1px solid #ddd; padding: 10px 20px; }
#menu_wholes #wm01 #tou .mt {  font:18px "scm"; padding:30px 0; }
#menu_wholes #wm01 #tou .st  { font:12px "scr"; line-height:1.8; }
#menu_wholes #wm01 h3 { font:30px "scm"; text-align:center;padding:20px 0; }
#menu_wholes #wm01 h3 b { font:40px 'Quicksand'; }
#menu_wholes #wm01 #agree { height:30px; text-align:right ; margin:20px 0; }
#menu_wholes #wm01 #agree span { position:relative; bottom:8px; }

#menu_wholes #wm01 #rq_plumm p { font-size:14px; font-family:scr; border-bottom:1px solid #ddd; padding:15px 0; width:100%; }
#menu_wholes #wm01 #rq_plumm p label { display:inline-block; height:53px; line-height:52px;  font-size:16px; font-family:scm; width:25%;  text-align:center; }
#menu_wholes #wm01 #rq_plumm p b { width:70%; font-family:scr; display:inline-block;  }
.inputwh { width:200px; height:30px; padding:2px 5px; box-sizing:border-box; }
#menu_wholes #wm01 #rq_plumm p i { font-style:normal; margin-right:15px; }
#menu_wholes #wm01 #rq_plumm p b span { margin-right:15px; }
#menu_wholes #wm01 #rq_plumm p #ect { position:relative; top:-70px; } 
#menu_wholes #wm01 #rq_plumm p b textarea { width:95%;  height:130px; }
#menu_wholes #wm01 #rq_plumm > span { padding:20px 0; display:inline-block; width:100%;  margin:0 auto; text-align:center;  }
#menu_wholes #wm01 #rq_plumm #send { background:#859860; color:#fff; border:none; position:relative; height:60px; font-size:20px; padding:0 30px; cursor:pointer;  transition:800ms ease all; outline:none;
}
#menu_wholes #wm01 #rq_plumm #send:hover{ background:#fff; color:#859860;}
#menu_wholes #wm01 #rq_plumm #send:before,button:after{ content:''; position:absolute; top:0; right:0; height:2px; width:0; background: #859860; transition:400ms ease all;}
#menu_wholes #wm01 #rq_plumm #send:after{ right:inherit; top:inherit; left:0; bottom:0;}
#menu_wholes #wm01 #rq_plumm #send:hover:before,button:hover:after{ width:100%;
  transition:800ms ease all; } 

@media (max-width:800px) { /* 모바일용(테블릿없이할때 */
.pc { display:none !important ;  }
.wrap { width:96% }

header { height:50px; }
header .wrap { height:50px; }
header h1 { font-size:40px; line-height:40px; height:50px;  }
header ul li{ float:left; }
header .wrap > .mob { position:absolute; top:0; right:0;  display:block; width:40px; height:40px; padding:15px 0; box-sizing:border-box; text-align:right;}

#blank { height:60px; }

/*gnb*/
header #gnb { position:fixed; left:auto; right:-100%; top:60px; background:rgba(0,0,0,0.9); height:calc(100% - 70px); width:100%; padding:60px; box-sizing:border-box; transition:0.3s;  }
header #gnb.on { right:0; }
header #gnb li { float:none; font-size:18px; margin-right:0; margin-left:0; text-align:center; border-bottom:1px solid #ddd; }
header #gnb li:last-child { border:none;}
header #gnb > li a { color:#fff; line-height:60px; }

header #gnb > li {  position:relative; width:100%; }
header #gnb > li ul { display:none; position:absolute; background:#fff; padding-left:0; left:0; width:100%; z-index:20; }
header #gnb > li ul li a { font-size:16px; color:#353535; display:block; }
header #gnb > li:hover > ul { display:block;  } 
 
 /*모바일용 gnb*/

#main { height:400px; color:#fff; background-size:auto 100%; }
#main  #main_txet { font-size:40px; position:static;width:100%; display:flex;  text-align:center;  align-items:center; justify-content:center; height:100%; flex-direction:column;  }
#main  #main_txet p { font:14px/1.8 "scr"; padding:30px 20px;   }

#cont1 .wrap { width:100%; }
#cont1 .wrap > div { float:none; width:100%; height:200px; position:relative; }
#cont1 .wrap > div dl  { width:60%; padding:20px 0 0; word-break:keep-all; }
#cont1 .wrap > div dl dt { font-size:20px; margin-bottom:15px; }
#cont1 .wrap > div dl dd { font-size:12px; height:75px; }
#cont1 #intro_1 { background-size:auto 100%; }
#cont1 #intro_1 dl { position:relative; top:5px;  right:38px; }
#cont1 #intro_2 { background-size:auto 100%; }
#cont1 #intro_2 dl { position:relative; top:5px;  left:38px; text-align:right; }
#cont1 .wrap div a { font-size:12px; }

#cont2 { height:auto;  }

#cont2 .wrap > ul { float:none; width:100%; height:auto; padding:40px 0; }
#cont2 #notice li h3 { font-size: 28px; width:100%; }
#cont2 #notice li a { font-size:14px;  width:95%; }
#cont2 #notice > a { right:0; top:50px; text-align:center; }
#cont2 #notice > a img { width:60%; }

#cont2 #info { text-align:center; padding-top:0; }
#cont2 #info > li {  margin:0 12px 12px 0; width: calc(50% - 6px); }
#cont2 #info li > a  img { margin:20px 5px 0; width:60px; }
#cont2 #info dl { position:static;font:16px "scm"; padding-top:5px; }
#cont2 #info dd { font:12px/1.4 "scr"; margin-top:10px; }
#cont2 #info li #sns li { padding-top:15px ;}
#cont2 #info li #sns li img { width:65%; margin:0;  }
#cont2 #info li #sns p { font:18px 'Quicksand'; color:#fff; padding-top:50px;  }

#cafe { background:#859860; width:100%; text-align:center; height:auto; }
#cafe .wrap { padding:20px 0 30px; }
#cafe #back h3 { font-size:20px;  }
#cafe #back dt { font-size:50px; }
#cafe .wrap > div { float:none; width: 100%; margin:0 0; }
#cafe #back dl #d3 { padding:20px 0; font-size:16px; }
#cafe #back dl dd span { display:none;}
#cafe #back3 dt , #cafe #back2 dt { font:24px "scm"; } 
#cafe #back3 dd , #cafe #back2 dd { font:12px/1.6 "scr"; margin-top:5px;height:54px;  } 
#cafe #back2, #cafe #back3 { height:150px;  }
#cafe #back2 dl, #cafe #back3 dl { position:static;  padding-top:20px; }

#shop { margin:0; }
#shop h3 { font-size:30px; padding:20px 0; }
#shop .sell { float:none; margin-left:0; width:100% ; }
#shop #new { height:400px; }
#shop #new #innew { width:100%; height:100%; }
#shop #new a { padding:20px 5px; }
#shop #new a dl dt { font-size:40px; ; font-weight:bold; }
#shop #new a dl dd { font:16px "scr" ; }
#shop #new a dl dd ul li:nth-of-type(2n+1) {  font:30px 'Quicksand'; pdding:10px 0; }
#shop #new a dl dd ul li:nth-of-type(2n) { font:14px "scr";  }
#shop #item .beans { float:none;  width:100%; margin:0; margin-top:5px; height:100px; }
#shop #item .beans:nth-of-type(4) { margin-bottom: 10px ; }
#shop #item dl dt { font-size:28px;; margin-bottom:0; }
#shop #item dl dd { display:none;  }

footer { margin-top:0; background:#fff; color:#666; }
footer div { border:none; }
footer div ul li { float:none; margin-right:0; height:50px; line-height:50px; font-weight:bold; text-align:center; border-bottom:1px solid #ddd; }
footer div ul li a { color:#666; }
footer address ul { padding:20px 0; text-align:center; display:flex; text-align:center;  align-items:center; justify-content:center; flex-direction:column;}
footer .wrap ul li { float:left; margin-right:10px; }

#menu_about { height:auto; }
#menu_about #Philosophy { padding:40px 0; float:none; width:100%; text-align:center;  }
#menu_about #Philosophy figure { padding: 0 50px; }
#menu_about #Philosophy img { width:100%; } 
#menu_about #Philosophy figcaption h3 { padding:60px 0 30px 0; font:28px "scm";}
#menu_about #Philosophy figcaption p { padding:30px 0; font:14px "scr";}

#menu_about #notice_in { float:none; width:100%; padding-bottom:80px; }
#menu_about #notice_in h3 { padding:40px 0;}
#menu_about #notice_in #table #li { width:100%; }
#menu_about #notice_in #table .nli {  font:13px "scr"; width:100%; height:50px; padding:10px; border:0px; outline:none; color:#353535; border:1px solid #333; box-sizing:border-box; margin-top:5px;   }
#menu_about #notice_in button { height:50px; width:100%; border:1px solid #859860;  outline:none; color:#fff; background:#859860; position:relative; top:1px; margin-top:4px;  }
#menu_about #notice_in #table { text-align:center; }
#menu_about #notice_in #table_med { padding:40px 0;}
#menu_about #notice_in #table_med tr th {  font:14px "scm";}
#menu_about #notice_in #table_med tr th:nth-child(1) {  width:150px;}
#menu_about #notice_in #table_med tr th:nth-child(2) { width:calc(100%-350px); }
#menu_about #notice_in #table_med tr th:nth-child(3) {  width:180px; }
#menu_about #notice_in #table_med tr td {  font:12px "scr"; }
#menu_about #notice_in #table_med tr .ca, #menu_about #notice_in #table_med tr .st, #menu_about #notice_in #table_med tr .na {  padding:2px 6px;}
#menu_about #notice_in #table_med tr td:nth-child(1) { width:150px;}
#menu_about #notice_in #table_med tr td:nth-child(2) { width:calc(100%-350px); }
#menu_about #notice_in #table_med tr td:nth-child(3) { width:180px; font:10px "scr";  }
#menu_about #notice_in #table_med tr td:nth-child(2) a { width:200px; }

#menu_wholes #wm01 #agree { font-size:11px; text-align:center;  }
#menu_wholes #wm01 #rq_plumm p b { height:53px; padding-top:20px;}
#menu_wholes #wm01 #rq_plumm p:nth-child(3) label { position:relative; bottom:12px; }
/*여기에 암만 해봐야 모바일*/
}

@media (min-width:801px) { /* PC용 */
.mob { display:none; }
}